<ul class="nav">
    {% assign pages_list = site.pages %}
    {% assign group = 'navigation' %}
    {% include JB/pages_list %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles</a>
        <ul class="dropdown-menu">
            <li><a href="{{ root_url }}/javaee/">Java EE</a></li>
            <li><a href="{{ root_url }}/git/">Git</a></li>
        </ul>
    </li>
    <li><a href="{{ root_url }}/blog/">Blog</a></li>
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
